@import "variables", "sub/foo", "sub/bar";  // Bootstrap overrides

body {
    background-color: $background;
    content: "✔ æøå";
}

#test1{
    color: red;
}

/*#test2{
    color: blue;
}*/

#test3{
    color: green;
    transition: all .5s;
}

.parent
{
    .child
    {
        width: 64px;
        height: 24px;
    }
}

